@charset "UTF-8";

/* 전체 컨텐츠 */
.product {
	width: 1000px;
	display: flex;
	flex-flow: row;
	margin: 0 auto;
}

/* 상품 이미지 슬라이드 div */
#productImg {
	width: 500px;
	height: 400px;
}

/* 이미지 div */
.carousel-item {
	background-color: black;
	width: 100%;
	height: 400px;
}

/* 슬라이드 화살표 */
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}

/* 상품 상세정보 */
#productInfo {
	width: 500px;
	height: 400px;
	padding: 40px 80px;
	text-align: left;
	display: flex;
	flex-flow: column;
}

/* 상품 가격 */
#price {
	font-size: 36px;
	font-weight: 700;
}

/* 구매신청버튼 공간 div */
#buyDiv {
	margin-top: 20px;
	display: flex;
    justify-content: space-between;
}

/* 구매신청버튼 */
#buyButton {
	width: 340px;
	height: 50px;
	border-style: none;
	background-color: #693FAA;
	color: #fff;
}

/* 판매자 정보 공간 div */
.sellerInfo {
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

/* 판매자 정보 */
.seller {
	display: flex;
	align-items: center;
	margin-top: 24px;
}

/* 판매자 상세정보 */
#info {
	display: flex;
	flex-flow: column;
}

/* 누적판매횟수 */
.sales {
	width: 200px;
	height: 50px;
	margin-left: 30px;
	border: 1px solid rgba(212, 216, 229, .5);
	border-radius: 5px;
	background-color: rgba(212, 216, 229, .25);
	text-align: center;
	color: #7b8994;
}

/* 중간 라인 */
.line {
	width: 1000px;
	height: 1px;
	margin: 0 auto;
	background-color: #dee2e6;
}

/* 관련 상품 공간 div */
.relation {
	width: 1000px;
	margin: 0 auto;
	padding: 50px 0 20px 0;
	text-align: left;
}

/* 관련 상품 div */
.relationProduct {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

/* 관련상품 정보 공간 div */
.rpInfo {
	width: 150px;
}

/* 관련상품 이미지 */
.rpImage {
	margin-top: 30px;
	margin-bottom: 10px;
}

/* 관련상품 제목 */
.rpTitle {
	font-size: 14px;
	font-weight: 300;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  	word-break:break-all;
}

/* 관련상품 가격 */
.rpPrice {
	font-size: 16px;
	font-weight: 700;
}




